@keyframes popUpExitTransition {
  0% {
    opacity: 1;
    visibility: visible;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.popup {
  display: none;
  visibility: hidden;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #00000080;
  animation-name: popUpExitTransition;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
