.form__name {
  all: unset;
  height: 27.34px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  color: #000000;
  font-size: 14px;
  line-height: 1.21;
}

.form__name::placeholder {
    color: rgb(0, 0, 0, 1);
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    font-style: normal;

  }
  