.form {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    width: 430px;
    height: 330px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 34px 36px 36.51px;
}