.elements__rectangle {
  border-radius: 0 0 10px 10px;
  width: 282px;
  height: 79px;
  background-color: #ffffff;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  
}
