.popup__exit-btn {
  all: unset;
  position: relative;
  top: -10%;
  left: 100%;
}

.popup__exit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:450px) {
  .popup__exit-btn {
    margin-left: -26.38px;
    margin-bottom: 13.62px;
  }
}