.popup__form {
  flex-direction: column;
  position: fixed;
  background-color: #ffffff;
  width: 430px;
  z-index: 2;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 34px 36px 36.51px;
}

@media screen and (max-width: 600px) {
  .popup__form {
    width: 238px;
    padding: 25px 22px 25px;
  }
}
