.header__title-logo {
  display: block;
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header__title-logo {
    height: 24px;
    width: 126px;
    margin: 28px 27px 167px 32px;
  }
}
