.header__title-logo {
  display: block;
  margin-bottom: 41px;
}

@media screen and (max-width: 600px) {
  .header__title-logo {
    
    margin-left: 3.5vw;
  }
}


@media screen and (max-width: 450px) {
  .header__title-logo {
    height: 24px;
    width: 126px;
    margin: 28px 27px 167px 32px;
  }
}
