.header__title-logo {
  display: block;
  margin-bottom: 41px;
  width: 173px;
}

@media screen and (max-width: 600px) {
  .header__title-logo {
    margin-left: 3.5vw;
  }
}

@media screen and (max-width: 450px) {
  .header__title-logo {
    width: 126px;
    margin: 0 167px 32px 27px;
  }
}
