.form__role {
    all: unset;
    height: 27.34px;
    margin-bottom: 48px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
    color: #000000;
    font-size: 14px;
    line-height: 1.21;
    width: 100%;
}

.form__role::placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    font-style: normal;
  }

  @media screen and (max-width:450px) {
      .form__role {
          margin-bottom: 46x;
      }
  }