.footer {
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  color: #545454;
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 879px) {
  .footer {
   max-width: 581px;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 36px;
  }
}
