.profile__text-container {
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  margin-right: min(15vw,165px); 
}

@media screen and (max-width: 900px) {
    .profile__text-container {
      margin: 28px auto 0;
      justify-content: center;
    }
  }

@media screen and (max-width: 450px) {
  .profile__text-container {
    margin: 30px auto 0;
  }
}
